/**
 * Variables
 */
/**
 * Scaffolding
 */
/**
 * Component: Tiles
 */
.Tiles {
  font-size: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.Tile {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  width: 100%;
}
.Tile > .Tile-content {
  cursor: pointer;
}
.Tile-content {
  background: #7FDBFF;
  border-radius: 0.375rem;
  color: #005b7f;
  font-size: 1.5rem;
  margin: 1rem 0.5rem 0;
  padding: 4rem 1rem;
  text-align: center;
}
.Tile-flyout .Tile-content {
  background-color: #F173D5;
  color: #5c0949;
}
.Tile-flyout {
  /*display: none;*/
  /* do not use it causes issues for show hide */
  position: relative;
  /* i added the below */
  visibility: hidden;
  height: auto;
  /* hides all .Tile-flyout on load so GSAP autoAlpha can do its thing */
  overflow: hidden;
  /* tell the browser that initial height is auto */
  /* required when anaimting height properly */
}
.Tile.is-expanded .Tile-flyout {
  /*display: block;*/
  /* do not use */
}
.Tile.not-expanded .Tile-content {
  cursor: default;
  opacity: 0.5;
}
.Tile-flyout:before {
  background: #F173D5;
  content: "";
  left: 50%;
  margin-left: -0.5rem;
  position: absolute;
  height: 1rem;
  top: 0.5rem;
  /* was -2 */
  transform: rotate(45deg);
  width: 1rem;
  z-index: 2;
}
/**
 * Breakpoint layout changes
 */
@media (min-width: 30em) {
  .Tile {
    width: 50%;
  }
  .Tile-flyout {
    width: 200%;
  }
  .Tile:nth-child(2n + 1) .Tile-flyout {
    margin-left: 0%;
  }
  .Tile:nth-child(2n + 1) .Tile-flyout:before {
    left: 25%;
  }
  .Tile:nth-child(2n + 2) .Tile-flyout {
    margin-left: -100%;
  }
  .Tile:nth-child(2n + 2) .Tile-flyout:before {
    left: 75%;
  }
}
@media (min-width: 48em) {
  .Tile {
    width: 33.3333333333%;
  }
  .Tile-flyout {
    width: 300%;
  }
  .Tile:nth-child(3n + 1) .Tile-flyout {
    margin-left: 0%;
  }
  .Tile:nth-child(3n + 1) .Tile-flyout:before {
    left: 16.6666666667%;
  }
  .Tile:nth-child(3n + 2) .Tile-flyout {
    margin-left: -100%;
  }
  .Tile:nth-child(3n + 2) .Tile-flyout:before {
    left: 50%;
  }
  .Tile:nth-child(3n + 3) .Tile-flyout {
    margin-left: -200%;
  }
  .Tile:nth-child(3n + 3) .Tile-flyout:before {
    left: 83.3333333333%;
  }
}
@media (min-width: 64em) {
  .Tile {
    width: 25%;
  }
  .Tile-flyout {
    width: 400%;
  }
  .Tile:nth-child(4n + 1) .Tile-flyout {
    margin-left: 0%;
  }
  .Tile:nth-child(4n + 1) .Tile-flyout:before {
    left: 12.5%;
  }
  .Tile:nth-child(4n + 2) .Tile-flyout {
    margin-left: -100%;
  }
  .Tile:nth-child(4n + 2) .Tile-flyout:before {
    left: 37.5%;
  }
  .Tile:nth-child(4n + 3) .Tile-flyout {
    margin-left: -200%;
  }
  .Tile:nth-child(4n + 3) .Tile-flyout:before {
    left: 62.5%;
  }
  .Tile:nth-child(4n + 4) .Tile-flyout {
    margin-left: -300%;
  }
  .Tile:nth-child(4n + 4) .Tile-flyout:before {
    left: 87.5%;
  }
}
