@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@200;400&family=Cormorant+SC:wght@300&display=swap');
:root {
  --color: #d6e2ff;
  --white: #ffffff;
  --textColor: #4f4f54; 
  --quoteFont: 'Big Shoulders Inline Display', cursive;
  --basefontFamily: 'Anek Gujarati', sans-serif;
  --headerfontFamily: 'Libre Franklin', sans-serif;
  --projectTitle: 'Cormorant SC', serif;
  --baseFontSize: 16px;
  --background: #053044;
  --secondaryColor: #e6efff;
  --tertiaryColor: #091419;
  --quarternaryColor: #91b9cb;
  --quinaryColor: #074766;
  --senaryColor: #191e2b;
  --septenaryColor: #d0dee5;
  --octonaryColor: #5b5b5b;
/*  --navBg: rgba(207, 95, 95, 0.5);*/
  --hamnav: #b04040;
  --projectBg: #2b344a;  

  /* overlay header */

  --overlayHeader: linear-gradient(120deg, rgba(155,186,210,0.65) 0%, rgba(143,170,191,0.55) 58%, rgba(96, 118, 134, 0.55) 89%);

  /*opacity colors*/

  --senaryOpacityColor: rgba(25, 29, 42, 0.3); /*red*/
  --langswitchBgColor: rgba(207, 95, 95, 0.3); /*blue*/
}

* {
  box-sizing: border-box;  
}

*:not(input):not(textarea) {
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  }

html {
	scroll-behavior: smooth;
}

body {
  /* background: url('../images/bg.jpg'); */
  background-repeat: no-repeat;
  background-size: 100% auto;	
  margin: 0px;
  background-color: var(--background);
  font-family: var(--basefontFamily);

  
 }

 section {
 	width: 100%;
 	margin: auto!important;
 	padding: 0;
 }

 .sub-nav {
  font-size: 14px!important; 
  font-weight: 300!important;
  margin-left: 10px;
}

 @media only screen and (min-width: 60em) { /* 960px */ 
  .container {
    width: auto;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */ 
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 33.75em) {   /*540px*/ 
  .container {
    width: auto;
  }
}

 a {
 	color: var(--tertiaryColor);
 	text-decoration: none;
   font-weight:600;
 }

 .txtlink:hover {
   color: var(--quarternaryColor);
   transition: all ease 0.2s; 
 }

 .main-btn h3 {
  margin-bottom: 3px;
 }

 .main-btn p {
  line-height: 0px;
 }

.lang-navbtn {
  font-size: 10px!important;
}

.uppercase {
  text-transform: uppercase;
}

.list-style ul li::before {
  content: "\2022";
  color: var(--hamnav);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.list-style ul li {
  margin: 15px 0 15px 0;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: normal;
}

.left {
	text-align: left;
} 

.right {
	text-align: right;
} 

.justify {
	text-align: justify;
}

 header {
 	position:fixed;
 	width: 100%;
	transition-timing-function: ease-in; 	
 	z-index: 999;
 	transition: 0.4s;
  box-shadow: 0px 10px 8px -7px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0px 8px 12px -7px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 10px 8px -7px rgba(0,0,0,0.35);
 }

 .navigation-bar {
 	position: relative;
 	display: block;
 	height: 56px;
}

.header {
  font-weight: 600;  
  text-transform: uppercase;
  background-color: var(--tertiaryColor);
 }

 .header p {
   color: var(--white);
 }

.nav-up {
    top: -55px;
}

.nav-down {
  top: 0px;
}

.logo-v {
	display: block;
	float: left;
	margin-left: 10px;
} 

.lang-switch {
  position: absolute;
	display: block;
	float: right;
  background-color:var(--langswitchBgColor);
  border-radius: 5px;
  top: 15px;
  right: 60px;
  padding: 6px 5px 0 5px;
  height: 25px;
  width: 27px;
  font-size: 13px;
} 

.lang-switch a {
  color: var(--septenaryColor);
}

.lang-switch a:hover {
  color: var(--senaryColor);
  transition: all ease 0.2s;
}

.intro-header {
  background: rgb(5,48,68);
  background: -moz-linear-gradient(180deg, rgba(5,48,68,1) 0%, rgba(54,97,117,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(5,48,68,1) 0%, rgba(54,97,117,1) 100%);
  background: linear-gradient(180deg, rgba(5,48,68,1) 0%, rgba(54,97,117,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#053044",endColorstr="#366175",GradientType=1);
}
/* .flag object {
 width: 100%;
 height: 100%;
} */

.home-img {
	background: url('../images/home-img.png');	
	width: 38px;
	height: 38px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
	display: block;
	float: left;
	margin: 7px 0 0 10px;
	border-radius: 100px;
	border: 2px solid var(--white);
	padding: 0;

}

.home-txt  {
	margin: 0 0 0 10px;
	display: block;
	float: left;
}

.home-txt p {
	line-height: 0.1em;
}

.content {
    text-align: center;
    min-height: calc( 100vh - 85px );
}

.contact-me h3 {
  color: var(--secondaryColor);  
}

.contact-me p {
  color: var(--white);
}

@media only screen and (min-width: 60em) { /* 960px */  

}
 
.contact-me {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
} 

.contactme-btn {
  display: block;
  /* text-align: center; */
}

.contactme-btn a {
  background-color: var(--tertiaryColor);
  color: var(--white);
  display: inline-block;
  /* float: right; */
  padding: 10px;
  margin: 5px;
  width: 135px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1em;
}

.contactme-btn a:hover {
  background-color: var(--senaryColor);  
  transition: all ease 0.2s; 
}

/* .contactme-btn, a:visited {
   color: var(--white); 
} */


footer {
  width: 100%;
  height: 60px;
  padding: 0px; 
  background-color: var(--tertiaryColor);
  bottom: 0;
  text-align: center;
  color: var(--white);
}

 footer a {
 	color: var(--white);
 	text-decoration: none;
 }

 footer p {
 	font-size: calc(var(--baseFontSize) * 1);
 }

 footer .row .col-12 {
 	margin: 0rem 2%;
 }

.quote {
 	font-family: var(--quoteFont); 
 	color: var(--tertiaryColor); 	
}

.quote h1 {
 	font-size: calc(var(--baseFontSize) * 2);
 	 text-align: left; 	
}

#introquote {
  font-size: calc(var(--baseFontSize) * 3);  
}

@media only screen and (min-width: 20em) {   /*320px*/ 
	.quote h1 {
    font-size: calc(var(--baseFontSize) * 1.5);  
	}

  #introquote {
    font-size: calc(var(--baseFontSize) * 1.5);  
  }
  
}

@media only screen and (min-width: 60em) { /* 960px */ 
	.quote h1 {
    font-size: calc(var(--baseFontSize) * 3);    
	}

  #introquote {
    font-size: calc(var(--baseFontSize) * 2.5);  
  }

  
}

.profession p {
	margin: 0;
 	font-size: calc(var(--baseFontSize) * 1);  
}

.profession h1 {
	margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; 
  font-weight: 600;  
  font-size: calc(var(--baseFontSize) * 2.0);
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--headerfontFamily);  

}

.profession h2 {
	color: var(--white);
	text-transform: uppercase;
  font-size: calc(var(--baseFontSize) * 1.0);  
  font-family: var(--headerfontFamily);  
	margin-bottom: 8px;
}

.section-dark h2 {
	color: var(--secondaryColor);
  text-align: left;  
}

.project-intro {
  padding: 10px;
}

.project-content {
  margin: 0 0 0 0;
}

@media only screen and (min-width: 80em) { /* 1280px */ 
	.project-content {
    margin: 0 300px 0 300px;
  }
}

.project-content h3 {
  color: var(--quinaryColor);
}

.project-intro h2 {
  color: var(--tertiaryColor);
  text-align: center;  
  margin-top: 8px;  
}

.project-intropic {
  margin: 0 0 0 0;   
  display: block; 
  text-align: center;
}

.project-intropic img {
  width: 100%;
  height: auto;
}

.click2project p {
  padding: 10px;
  text-align: center!important;
}

@media only screen and (min-width: 60em) { /* 960px */ 
  #introquote {
    margin-top: 0;
  }

  .project-intro {
    padding: 0;
  }

  .project-intro h2 {
    text-align: left;
  }

}

@media only screen and (min-width: 85.375em) { /* 1366px */ 
  .project-intropic {
    margin: 0 20% 0 20%; 
  }  
}

.section-dark h3 {
	color: var(--secondaryColor);
  text-align: center;  
}

.section-dark p {
	color: var(--white)!important;
}

.section-light h2 {
	color: var(--tertiaryColor);
}

.section-light h3 {
	color: var(--senaryColor);
  text-align: center;
}

.insights h3 {
  text-align: center;
}

.section-light p {
	color: var(--senaryColor);
  text-align: left;
}

@media only screen and (min-width: 45em) {  /* 720px */ 
  .section-dark p {
    color: var(--white)!important;
    text-align: center;
  }
}

 @media only screen and (min-width: 60em) { /* 960px */ 
  .section-dark p {
    color: var(--white)!important;
    text-align: left; 
  }  
  .section-light h3 {
    text-align: left;
  }
  .section-light p {
    text-align: left;  
  } 

  .insights h3, .insights p {
    text-align: center;
  }
}

.section-1-am {
  background: url('../images/overmij-1a.jpg') no-repeat center top fixed; 	
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;	
	max-width: 100%;
	min-height: 300px;
}

@media only screen and (min-width: 20em) {   /*320px*/ 
.section-1-am {
  background: url('../images/overmij-1a.jpg') no-repeat center top fixed; 	
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;	
	max-width: 100%;
	min-height: 190px;
	}
}

@media only screen and (min-width: 33.75em) {   /*540px*/ 
.section-1-am {
  background: url('../images/overmij-1a.jpg') no-repeat center top fixed; 	
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;	
	max-width: 100%;
	min-height: 250px;
	}   
}

@media only screen and (min-width: 45em) {  /* 720px */ 
	.section-1-am {
  background: url('../images/overmij-1a.jpg') no-repeat center top fixed; 	
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;	
	max-width: 100%;
	min-height: 350px;    
	}	
}

@media only screen and (min-width: 60em) { /* 960px */  
	.section-1-am {
    background: url('../images/overmij-1d.jpg') no-repeat center top fixed;      	
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;	
		max-width: 100%;
		min-height: 400px;	    
	}

  .click2project p {
    text-align: center!important;
  }
  
}

@media only screen and (min-width: 1029px) { /* 1029px */  
	.section-1-am {
    background: url('../images/overmij-1d.jpg') no-repeat center top fixed;      	
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;	
		max-width: 100%;
		min-height: 200px;	    
	}
}

@media only screen and (min-width: 65em) { /* 1080px */  
	.section-1-am {       
    background: url('../images/overmij-1d.jpg') no-repeat center top fixed;      	
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;	
		max-width: 100%;
		min-height: 400px;	    
	}
}

.section-1-pr {
  background: url('../images/projecten-1a.jpg') no-repeat center top fixed;  
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 300px;
}

@media only screen and (min-width: 20em) {   /*320px*/ 
.section-1-pr {
  background: url('../images/projecten-1a.jpg') no-repeat center top fixed;  
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 220px;
  }
}


@media only screen and (min-width: 33.75em) {   /*540px*/ 
.section-1-pr {
  background: url('../images/projecten-1a.jpg') no-repeat center top fixed;  
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 250px;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */ 
  .section-1-pr {
  background: url('../images/projecten-1a.jpg') no-repeat center top fixed;  
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 350px;    
  } 
}

@media only screen and (min-width: 60em) { /* 960px */  
  .section-1-pr {
    background: url('../images/projecten-1d.jpg') no-repeat center top fixed;       
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto; 
    max-width: 100%;
    min-height: 400px;      
  }
}

@media only screen and (min-width: 1029px) { /* 1029px */  
  .section-1-pr {
    background: url('../images/projecten-1d.jpg') no-repeat center top fixed;       
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto; 
    max-width: 100%;
    min-height: 200px;      
  }
}

@media only screen and (min-width: 65em) { /* 1080px */  
  .section-1-pr {
    background: url('../images/projecten-1d.jpg') no-repeat center top fixed;       
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto; 
    max-width: 100%;
    min-height: 400px;      
    
  }
}

.section-1-co {
  background: url('../images/contact-1a.jpg') no-repeat center top fixed;  
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto; 
 max-width: 100%;
 min-height: 300px;
}

@media only screen and (min-width: 20em) {   /*320px*/ 
.section-1-co {
  background: url('../images/contact-1a.jpg') no-repeat center top fixed;  
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto; 
 max-width: 100%;
 min-height: 180px;
 }
}


@media only screen and (min-width: 33.75em) {   /*540px*/ 
.section-1-co {
  background: url('../images/contact-1a.jpg') no-repeat center top fixed;  
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto; 
 max-width: 100%;
 min-height: 250px;
 }
}

@media only screen and (min-width: 45em) {  /* 720px */ 
 .section-1-co {
  background: url('../images/contact-1a.jpg') no-repeat center top fixed;  
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto; 
 max-width: 100%;
 min-height: 350px;    
 } 
}

@media only screen and (min-width: 60em) { /* 960px */  
 .section-1-co {
  background: url('../images/contact-1d.jpg') no-repeat center top fixed;       
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 400px;      
 }
}

@media only screen and (min-width: 1029px) { /* 1029px */  
 .section-1-co {
  background: url('../images/contact-1d.jpg') no-repeat center top fixed;       
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 200px;      
 }
}

@media only screen and (min-width: 65em) { /* 1080px */  
 .section-1-co {
  background: url('../images/contact-1d.jpg') no-repeat center top fixed;       
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; 
  max-width: 100%;
  min-height: 400px;      
 }
}


#section-1-pr [class^="col"],
#section-2-pr [class^="col"] {
  margin: 0;
  width: 100%;
}

#section-2 img,
#section-2-intro img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

/* #section-2 img, */
#section-2-am img,
#section-2-co img,
#section-2-intro img,
.phototab img {
  box-shadow: 2px 5px 13px 0px rgba(71,71,71,0.24);
  -webkit-box-shadow: 2px 5px 13px 0px rgba(71,71,71,0.24);
  -moz-box-shadow: 2px 5px 13px 0px rgba(71,71,71,0.24);
}

#section-2-intro img {
  margin-top: 30px;
}

#section-2-am img,
#section-2-co img {
	margin-top: 25px;
	max-width: 100%;
	min-height: 100%;
	display: block;
}


#section-2-pr .col-6 {
  width: 50%;
}

#section-3 img {
	max-width: 70%;
	max-height: 70%;
	display: block;
	margin: auto;
}


.pr-col {
  position: relative;
  display: block;
  width: 50%;
  height: 100%!important;
}

.pr-col .container {
  position: relative;
  display: block;
  min-height: 100%;
}

@media only screen and (min-width: 20em) {   /*320px*/ 
	#section-3 img {
		max-width: 30%;
		max-height: 30%;
		display: block;
		margin: auto;
	}
}


@media only screen and (min-width: 33.75em) {   /*540px*/ 
	#section-3 img {
		max-width: 40%;
		max-height: 40%;
		display: block;
		margin: auto;
	}	
}


@media only screen and (min-width: 45em) {  /* 720px */ 
		#section-3 img {
		max-width: 70%;
		max-height: 70%;
		display: block;
		margin: auto;
	}
}

@media only screen and (min-width: 60em) { /* 960px */ 
	#section-3 img {
		max-width: 80%;
		max-height: 80%;
		display: block;
		margin: auto;
	}

} 

.copyright {
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
	font-size: calc(var(--baseFontSize) * 0.8);
    color: var(--white);
	position: relative;
	display:block;
	float: right;
    top: -20px;
    right: 5px;
}

.navigationMenu {
  position: fixed;
  top: 0;
  bottom: 0; 
  right: 0;
  width: 230px;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

.navigationMenu.active {
    pointer-events: visible; 
}

.navigationMenu .revealer {
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 0;
  margin: auto; 
  background-color: var(--secondaryColor);
}

.navigationMenu .trigger {
  position: fixed; 
  right: 10px;
  top: 10px;
  background-color: transparent; 
  outline: 0;
  border: none; 
  pointer-events: visible;
  display: flex; 
  flex-direction: column; 
  height: 30px;
  width: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  z-index: 2;
 }
 
 .navigationMenu .trigger span {
   display: inline-flex;
   height: 4px;
   width: 30px;
   margin-top: 2px;
   margin-bottom: 2px;
   background-color: var(--hamnav);
   border-radius: 20px; 
 }
 
 .navigationMenu .trigger span:nth-last-child(2) {
   width: 23px;
  }
  
 .navigationMenu .trigger span:last-child {
   width: 15px; 
 }  
 
 .navigationMenu.active .trigger span {
   background-color:  var(--septenaryColor);
 }
 .navigationMenu .menu-wrapper {
   background-color: var(--tertiaryColor);

 }


 .navigationMenu .menu {
    position: relative;
    padding: 40px;
    margin: 0;
    height: inherit;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* background: url('../images/bg-menu.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% auto;	
 }
 

 .navigationMenu .menu li a {
   font-size: calc(var(--baseFontSize) * 1.4);
   text-decoration: none;
   padding: 10px;
   display: inline-flex;
   justify-content: flex-start;
   align-items: center;
   text-transform: uppercase;
   font-weight: 600;
   color: var(--white);
   position: relative;
   overflow: hidden;
   z-index: 100;
 }
 
 .navigationMenu .menu li a::after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 0;
    margin: auto;
    display: inline-flex;
    height: 100;
    background-color: rgba(207, 95, 95, 0.28);
    transition: all ease 0.25s; 
 }  
 
 .navigationMenu .menu li a.active::after,
 .navigationMenu .menu li a:hover::after {
    opacity: 1;
    left: 0;
    width: 100%;
    
 } 
 
.box {
  display: block;
  width: 100px;
  height: 100px;
}

.darkblue {
  background-color: var(--senaryColor) ;
}

.opacity-darkblue {
  background-color: var(--senaryOpacityColor) ;
}


.white {
  background-color: #f7f7f7;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.grey {
  background-color: rgba(252, 252, 252, 0.922);
}

.orange {
  background-color: orange;
}

.logo-v object {
  width:40px;
  height:auto;
  margin-top:5px;
  opacity: 75%;
}

.arrow-top {
  position: fixed;
  background-color: var(--quarternaryColor);
  opacity: 30%;
  border-radius: 5px;
  padding: 5px;
  bottom: 30px;
  right: 15px;	
  font-size: 30px;
  color: var(--white);
  font-size: 20px;
  z-index: 1000;
}

.arrow-top a {
  color: var(--white);
}



.sub-txt {
  color: var(--white);
}

.sub-txt i {
  position: relative;
  margin: 0 5px 0 5px;
  color: var(--tertiaryColor);
  font-size: 10px;	
}

.giveme-totalpadding10 {
	padding: 10px;
}

.giveme-totalpadding50 {
  padding: 50px;
}

.giveme-totalpadding100 {
  padding: 100px;
}

.giveme-paddingtop10 {
	padding-top: 10px;
}

.giveme-paddingleft10 {
  padding-left: 10px;
}


.giveme-paddingtop50 {
	padding-top: 50px;
}

.giveme-paddingtop100 {
	padding-top: 100px;
}


.giveme-paddingbottom10 {
	padding-bottom: 10px;
}

.giveme-paddingbottom50 {
	padding-bottom: 50px;
}

.giveme-paddingbottom100 {
	padding-bottom: 100px;
}

.giveme-nopadding {
  padding: 0;
}

.giveme-nomargin {
  margin: 0 0 0 0!important;
}

.giveme-marginsides10 {
  margin:0 10px 0 10px!important;
}

.giveme-margintopbottom10 {
  margin:10px 0 10px 0!important;
}

.giveme-borderradius20 {
  border-radius: 20px;
}

.giveme-borderradius10 {
  border-radius: 10px;
}


/* projects styling */

.main-pf {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 75%;
  height: auto;  
  border-radius: 20px;  
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  background: #f7f7f7;
  z-index: 998;
  transition: 0.3s box-shadow;
}


.main-pf img {
  border-radius: 20px; 
  width: 100%;
  height: auto; 
  background: #f7f7f7;
  z-index: 999;
  transition: 0.3s box-shadow;
}

.main-pf img:hover {
   background: rgba(224, 237, 243, 1);
}

.main-pf:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.main-pf:hover::before, .main-pf:hover::after {
  display: block;
  content: '';
  position: absolute;
  background-color: #cbe2ed;
  border-radius: 20px;
  width: 100%;
  height: 100%; 
  z-index: -1;
  animation: 0.5s clockwise infinite;
  filter: blur(4px);
}

.main-pf:hover:before {
  background: var(--quarternaryColor);
  animation: 0.5s counterclockwise infinite;
  filter: blur(4px);  
}

@keyframes clockwise {
  0% {
    top: -3px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 3px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -3px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -3px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -3px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 3px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 3px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -3px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -3px;
    right: 0;    
  }
}

.main-img {
  width: 100%;
  height: 50%;

}

.main-img img {
  width: 100%;
  height: auto;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.main-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(42, 51, 58, 0.75);
  text-align: center;
  font-family: var(--basefontFamily);
  font-size: 100px;
  z-index: 4;
}

.main-img-overlay h1 {
  display: block;
  width: auto;
  height: auto;
  color: var(--white);
  font-family: var(--projectTitle);
  font-size: 2.5rem;  
  margin-top: 25%;
  margin-bottom: 0px;
}

@media only screen and (min-width: 20em) {   /*320px*/  
  .main-img-overlay h1 {  
    margin-top: 15%;
    font-size: calc(var(--baseFontSize) * 2);  
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .main-img-overlay h1 {  
    font-size: 2.5rem;  
  }
}

.main-img-overlay p {
  margin-top: 0px;
  color: var(--white);
  font-family: var(--projectTitle);
  margin: 10px;
}

.main-arrow-down {
  height: 25px; 
  fill:#fff;
  position: relative;
  display: block;
  margin: 0 50% 0 50%;  
}


/* .main-img::after {
position: absolute;
  width:100%;
  height: 100px;
  content: "lorem ipsum";
  display: block;
  text-align: center;
  top:0;
  color: #fff;
  font-size: 150px;
  background: rgba(42, 51, 58, 0.75);
} */

.project-container {
  display: block;
  height: 100%
}

.project-1 {
  display: block;
  height: 100%;
  width: 100%; 
  float: left;
  bottom: 0;  
}

.project-1 #project-intro {
  margin: 0 10px 10px 10px;
}

.project-2 {
  display: block;
  height: 100%;
  width: 100%; 
  float: left;
  bottom: 0;
}

.project-design-section {
  position: relative;
  display: block;
}

.project-design-section img {
  width: auto;
}

@media only screen and (min-width: 20em) {   /*320px*/ 
  .project-1,
  .project-2 {
    display: block;    
    width: 100%; 
  }

  .project-design-section img {
    width: 100%;
  }
  

}

@media only screen and (min-width: 33.75em) {   /*540px*/ 
  .project-1,
  .project-2 {
    display: block;    
    width: 100%; 
  }
}

@media only screen and (min-width: 85.375em) { /* 1366px */ 
  .project-container {
    display: flex;
    margin-bottom: 10px;    
  }

  .project-1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;   
    width: 40%;
    height: auto;
    padding-left: 10px;
}

  .project-2 {
    width: 60%;
  }

  .project-container {
    text-align: left;
 }

}

@media only screen and (min-width: 105em) { /* 1680px */ 
  .project-container {
    display: flex;
    margin-bottom: 10px;    
  }

  .project-1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;   
    width: 25%;
    height: auto;
    padding-left: 10px;
  }

  .project-2 {
    width: 75%;
  }

  .project-container {
    text-align: left;
 }

}

.project-text-intro {
  background-color: var(--tertiaryColor); 
  padding: 10px; 
  margin: 0px;
}

.project-text-intro p {
    color: var(--white);
}

.project-intro h2 {
  font-size: 1.5rem;
}

.project-title {
  text-align: center;
/*  background-color: var(--senaryOpacityColor);  */
}

.project-title h2 {
  color: var(--quarternaryColor);
  font-size: 1.9em;
}

.project-title p {
  color: var(--octonaryColor);
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1;
}

.project-collapse {
  position: relative;
  background-color: var(--projectBg);
  box-shadow: 1px 0px 17px 1px rgba(0,0,0,0.35);
  -webkit-box-shadow: 1px 0px 17px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 1px 0px 17px 1px rgba(0,0,0,0.35);
  /*border-radius: 30px;*/
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.project-collapse:hover {
  background-color: var(--tertiaryColor);  
  -webkit-transition: background 0.2s 0s ease-in-out;
  -moz-transition: background 0.2s 0s ease-in-out;
  -o-transition: background 0.2s 0s ease-in-out;
  transition: background 0.2s 0s ease-in-out;
}

.project-collapse:focus {
  background-color: var(--tertiaryColor);  
}

@media only screen and (min-width: 60em) { /* 960px */  
  .project-collapse {
    padding: 3px;
/*    margin-left: 8px;
    margin-right: 8px;*/
  }
}

.project-collapse img {
  display: block;
  width: 200px!important;
  margin: auto;
/*  margin-bottom: 8px;
  margin-top: 8px;*/
  padding: 10px;
}

@media only screen and (min-width: 60em) { /* 960px */  
  .project-collapse img {
    display: block;
    width: 300px!important;
    margin: auto;
    margin-bottom: 8px;
  /*  margin-top: 8px;*/
    padding: 10px;
  }
}

.tile-content {
  display: block;
  margin: 0 0 0 0;
}

.tile-content .row [class^="col"] {
  width: 100%;
  margin: 0;
} 

@media only screen and (min-width: 60em) { /* 960px */  
  .phototab .col-6 {
    width: 50%!important;
    padding:0 7px 0 7px;
    margin: 0;
  } 

}

.tile-content p,
.tile-content h3  {
  padding: 10px;
}

@media only screen and (min-width: 85.375em) { /* 1366px */ 
  .tile-content {
    /* cursor: pointer; */
    display: block;
    margin: 0 8px 0 8px;
  }
}

.tile-content img {
  width: 100%;
}

/*@media only screen and (min-width: 60em) {  960px   
.tile-content img {
  width: 90%;
}
*/
.tile-content h2 {
  margin: 0 0 0 10px;
}

.extra-info p {
  color: var(--tertiaryColor);
  font-size: var(--baseFontSize);  font-weight: 500;  
  text-align: center;    
  white-space: normal;
}

@media only screen and (min-width: 60em) { /* 960px */  
  .extra-info p {
    text-align: left;        
  }
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 2px 5px 13px 0px rgba(71,71,71,0.24);
  -webkit-box-shadow: 2px 5px 13px 0px rgba(71,71,71,0.24);
  -moz-box-shadow: 2px 5px 13px 0px rgba(71,71,71,0.24);  
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  
}

.contact-items {
  display: inline-block;
}

.contact-items h3 {
  margin: 0 0 0 0;
  font-size: 4em;
}

.contact-items  .fa-envelope, .fa-linkedin {
  margin: 0 0 0 0;
  font-size: 4em;  
}

@media only screen and (min-width: 60em) { /* 960px */  
  .contact-items h3 {
    margin: 0 0 0 0;
  }
  
  .contact-items  .fa-envelope, .fa-linkedin {
    margin: 0 0 0 0;
  }

}


/* collapse */

ul { 
  list-style-type: none; 
  margin-top: 0;

}

 .accordion {
  padding: 0;
  margin-bottom: 0;
} 

.accordion li i {
  position: absolute;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  top: 23px;
  right: 1%;
  left: auto;
  font-size: 15px;
  color: var(--white)
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.back2top {
  background-color: var(--tertiaryColor);
  position: relative;
  display: block;
  text-align: center;
  font-size: calc(var(--baseFontSize) * 1);
  font-weight: 500;
  padding: 15px 0 0 0;
  height: 50px;
  width: 100%;
  color: var(--white);
  cursor: pointer;
  z-index: 3;
}

.back2top:hover {
  color: var(--senaryColor);
}

.thumbs-up {
  max-width: 50%;
  display: block; 
  margin: 0 30% 0 30%;
}

.thumbs-up img {
  box-shadow: 2px 5px 13px 0px rgba(71,71,71,0)!important;
  -webkit-box-shadow: 2px 5px 13px 0px rgba(71,71,71,0)!important;
  -moz-box-shadow: 2px 5px 13px 0px rgba(71,71,71,0)!important;

}

@media only screen and (min-width: 60em) { /* 960px */  
  .thumbs-up {
    display: block; 
    margin: 0 33% 0 33%;
  }
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #eeeeee;
  font-size: 13px;
  padding-left: 0;
}

.submenu li { 
  border-bottom: 1px solid #4b4a5e; 
}

.submenu a {
  display: block;
  text-decoration: none;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--senaryOpacityColor);
  border-radius: 10px;
  font-size: 20px;
  transition: opacity .8s ease-out;
  z-index: 999;
}