/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

/* body {
  background: #eeeeee;
  font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
} */

ul { 
  list-style-type: none; 
  margin-top: 0;

}

/* a {
  color: #b63b4d;
  text-decoration: none;
} */

/** =======================
 * Contenedor Principal
 ===========================*/


/* h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
} */

/* h1 a {
  color: #c12c42;
  font-size: 16px;
} */

 .accordion {
/*  width: 100%;
  margin: 30px auto 20px;
  background: #eeeeee;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;*/
  padding: 0;
  margin-bottom: 0;
} 

/* .accordion .link {
  cursor: pointer;
  display: block;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
} */

/* .accordion li:last-child .link { border-bottom: 0; } */

.accordion li i {
  position: absolute;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  top: 23px;
  right: 1%;
  left: auto;
  font-size: 15px;
  color: var(--white)
}

/* .accordion li.open .link { color: #872b2b; }

.accordion li.open i { color: #872b2b; } */

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #eeeeee;
  font-size: 13px;
  /* text-align: center; */
  padding-left: 0;
  /* padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%; */

}

.submenu li { 
  border-bottom: 1px solid #4b4a5e; 
}

.submenu a {
  display: block;
  text-decoration: none;
  /* color: #1a1a1a; */
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}